* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

header {
  padding-top: 2em;
  padding-bottom: 2em;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: cadetblue;
  background-color: azure;
}

body .centering {
  padding-left: 20%;
  padding-right: 20%;
}

body .centering ul {
  list-style: none;
}

body .centering ul li {
  margin-bottom: 1em;
}

body .centering ul li:last-child {
  margin-bottom: 0;
}

body .centering a {
  color: inherit;
  text-decoration: none;
}

body .centering table tr td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

body .centering table tr td:first-child {
  width: 150px;
}

